.main{
    /* height: 80vh; */
    height: inherit;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.chatroombg{
    background: #4E4E50;
    margin: 0;
    padding: 0;
}

.mainMsgBox{
    margin-top: 2rem;
    border:none;
    background:#383838;
    color: whitesmoke;
    border-color: #4E4E50;
}

.msgUnderline{
    text-decoration: underline;
}