.titleBx{
    text-align: center;
   font-size: larger;
   font-weight: bolder;
   font-style: italic;
   padding: 0px;
   margin: 0px;
};

.HomeCont{
    margin-left: auto;
    margin-right: auto;
}
.boxTitle{
    font-size: 3rem;
    text-align: center;

}
.txtofbox{
    font-size: 3rem;
    text-align: center;
    height: 8rem;
}
.boxBtn{
    border-radius: 25px;
    font-size: 2rem;
    background: #C3073F ;
    color: white;
    border:#C3073F ;
    margin-top: auto;
}
.googleBtn{
    margin: auto;
}
.homeCard{
    position: relative;
    margin-left: auto;
    margin-right:auto ;
    margin-bottom: 2rem;
    height: 30rem;
    width: 33%;
    background-color: #C3073F;
}


@media screen and (max-width:1300px){
    .txtofbox{
        font-size: 2.5rem;
    }
    .homeCard{
        height: 27rem;
    }
}

@media screen and (max-width:1200px){
    .txtofbox{
        font-size: 2rem;
    }
    .homeCard{
        height: 25rem;
    }
}

@media screen and (max-width:1000px){
    .txtofbox{
        font-size: 1.5rem;
    }
    .homeCard{
        height: 20rem;
    }
}
@media screen and (max-width:800px){
    
    .txtofbox{
        font-size: 2rem;
    }
    .homeCard{
        height: 20rem;
        width: 80%;
    }
}


