.collaspeArrow{
    font-size: 4rem;
}
.sideBar{
    /* width: 15rem;
    height:100rem;
    padding:0;
    margin: 0; */
  
}
.mainChatRoom{
    background: #950740;
    width: 15rem;
    height:100rem;
    padding:0;
    margin: 0;
}
.hamMen{
    position: absolute; 
    height: 5rem;
    z-index: 2;
    height: 4rem;
}
.transparentChatRoom{
    color:#950740;
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: 3;
    background:#1A1A1D;
}
