.collaspeArrow{
    font-size: 4rem;
}
.sideBar{
    width: 15rem;
    height:100rem;
    padding:0;
    margin: 0;
    background: #950740;
  
}
.hamMen{
    display: none;
    height: 5rem;
}


@media screen and (max-width:1000px){
    .sideBar{
        background: blue;
        display: none;
    }
    .hamMen{
        /* position:fixed; */
        display: initial;
    }
}